* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 100px;
    color: white;
    font-family: 'Battlestar', sans-serif;
}

#div1{
    display: flex;
    justify-content: space-between;
}

#b1 {
    padding: 20px 32px;
    text-align: center;
    font-family: 'Battlestar', sans-serif;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
#div2 {
    text-align: center;
    background-color: white;
    height: 70px;
    width: 70px;
    color: black;
    margin: 50px auto;
    padding-top: 30px;
    font-size: 26px;
}
#div3 {
    margin-top: 250px;
    justify-content: space-between;
    display: flex;
    
}
#b2 {
    font-family: 'Battlestar', sans-serif;
    /* width: 50px;
    height: 50px; */
    padding: 20px 32px;

}


